:root{
    --bgcolor: #FCFAF5; 
    --txtcolor: #21202d;
}
/***** template *****/

* {
    box-sizing: border-box;
    font-family:'Raleway', sans-serif;
    background-color: var(--bgcolor);   
    color: var(--txtcolor);
    scroll-behavior: smooth;
}

p,h1 {
    margin: 20px;
}
.wrapper{
    max-width: auto;
    margin: 30px auto;
    padding: 30px 10px;
    border: solid var(--txtcolor);
}

/* header */

header{
    border: solid var(--txtcolor);
}

header a {
    transition: 0.5s;
}
header img {
    transition: 0.5s;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    color: slategray;
    opacity: 75%;
}
  
a:active {
    text-decoration: underline;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 5px 30px 30px 30px;
    padding: 10px; 
    font-size: 1.5em;
}

.navbar a{
    border: solid var(--txtcolor);
    margin: 10px 10px;
    padding: 10px;
    text-decoration: none;
}

.icons{
    font-size: 2.5em;
    text-align: right;
    margin: 30px 30px 0px 30px;
    text-decoration: none;
}
.icons img{
    max-width: 30px;
    padding: 0px;
}

.icons h1{
    display: inline;
    margin: 20px 20px 20px 5px;
}

footer{
    text-align: right;
    opacity: 80%;
}

.to-top{
    display: none;
}

    
/*************************** GALLERY CLASS WRAPPER ***************************/

#galleries{ /*remove the box from view*/
    margin: 0px;
    padding: 0px;
    border: none;
}

.gallery {
    border: solid var(--txtcolor);
    display: flex;
    flex-flow: row wrap;  
    align-items: center; 
    justify-content: space-evenly;
    padding: 20px;
    margin: 30px 0px;
}
.gallery img {
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
    /*border: solid var(--txtcolor);*/
    transition: 0.8s;
}
.gallery img:hover {
    
    border: solid rgba(0,0,0,0.2);  
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*** Modal for Gallery ***/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modalImage{
    margin: auto;
    display: block;
    width:  auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
}

/*************************** PROJECT CLASS WRAPPER ***************************/

#projects{ /*emove the box from view*/
    margin: 0px;
    padding: 0px;
    border: none;
}

.project{
    font-size: 1.2em;
    border: solid var(--txtcolor);
    padding: 20px;
    margin: 30px 0px;
}

.project-grid{
    display: flex;
    flex-flow: row wrap;  
    align-items: center; 
    justify-content: space-evenly;
}

.project-grid img{
    max-width: 100%;
    max-height: 340px;
    width: auto;
    height: auto;
    padding: 10px;
    transition: 0.8s;
}

.project-grid img:hover {
    border: solid rgba(0,0,0,0.2);  
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*************************** COMIC CLASS WRAPPER ***************************/

#comics{ /*emove the box from view*/
    margin: 0px;
    padding: 0px;
    border: none;
}

.comic-object{
    display: inline-grid;  
    grid-template-rows: auto;
    grid-template-columns: 40% 60%;
    font-size: 1.2em;
    border: solid var(--txtcolor);
    padding: 20px;
    margin: 30px 0px;
}

.item-b{
    justify-self: center;
    position: relative;
}

.comic-page{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 800px;
    border: solid var(--txtcolor);
    display: none;
}

.comic-button {
    opacity: 10%;
    height: 100%;
    width: 50%;
    transition: 0.5s;
    font-size: 1.2em;
    padding: 2%;
    border: none;
    background: none;
    outline: none;
}
.comic-button:hover{
    opacity: 50%;
}

.comic-left{
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.comic-right{
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.grid-item{
    align-self: center;
    text-align: right;
}
/*************************** ABOUT PAGE WRAPPERS ***************************/

.about{
    display: grid;
    font-size: 1.5em;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.about img {
    max-width: 100%;
    max-height: 600px;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
    justify-self: center;
}

#description p{
    align-self: center;
    justify-self: center;
}

#contact{
    width: 90%;
    margin: 2% 5%;
    display: inline-block;
}

input[type=text], #email{
    width: 50%;
    padding: 12px 20px;
    border-radius: 4px;
    background-color:#f8edd2;
    border: solid var(--txtcolor);
}

input[type=submit]{
    background-color: #f8edd2;
    font-family:'Raleway', sans-serif;
    padding: 12px 20px;
    border: solid var(--txtcolor);
    border-radius: 4px;
    cursor: pointer;
}

#message{
    width: 40%;
    height: 150px;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: #f8edd2;
    resize:none;
    border: solid var(--txtcolor);
}

.contact-form h1 {
    margin-left: 5%;
}

/*** SMALLER DEVICE SETTINGS ***/
@media only screen and (max-width: 550px){

    /* template */

    a:link {
        text-decoration: underline;
    }
    .navbar{
        display: block;
        text-align: center;
        margin: 0px;
    }

    .navbar a{
        font-size: 1.2rem;
        display: block;
        margin: 10px 30px;  
        text-decoration: none;
    }

    .icons{
        text-align: center;
        margin: auto;
        margin-top: 20px;
    }
    .icons h1{
        font-size: 3rem;
        display: block;
        margin: auto;
    }
    .icons a{
        text-decoration: none;
    }

    footer{
        text-align: center;
        font-size: 0.8em;
    }

    footer p{
        margin: 0px;
    }

    .to-top{
        display: block;
    }

    #to-nav{
        font-size: 4em;
    }
    /* illustrations */

    .project p,h1{
        font-size: 0.7em;
        text-align: center;
    }
    .project a{
        font-size: 1em;
    }

    /* comics */

    .comic-object{
        display: inline-block;
        grid-template-columns: 100%;
        grid-template-rows: 20% 80%;
    }

    .comic-object p,h1{
        font-size: 0.7em;
        text-align: center;
    }

    .comic-object a{
        font-size: 1em;
    }

    .item-b{
        display: block;
    }

    /* about */

    .about{
        grid-template-columns: 100%;
        grid-template-rows: 45% auto;
    }

    #description p,a,b{
        font-size: 0.7em;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .contact-form h1{
        font-size: 2em;
    }
    input[type=text], #email, #message{
        width: 100%;
    } 
}